<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
  autoReload="true" 
  throwException="true"
  internalLogLevel="Info" 
  internalLogFile="./nlog/internal-nlog.log"
  >

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!-- the targets to write to -->
  <targets async="true">
    <target 
    name="fileLog" 
    xsi:type="File" 
    layout="${longdate} | ${event-properties:item=EventId_Id} | ${uppercase:${level}} | ${logger} | ${message} | ${exception:format=message} | ${stacktrace:format=flat}" fileName="./nlog/${level}.log" 
    keepFileOpen="true"
    openFileCacheTimeout = "30"
    archiveNumbering="Rolling"
    archiveAboveSize="30000000"
    maxArchiveFiles="14"
    encoding="utf-8" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="fileLog" />
  </rules>
</nlog>